<div class="container-fluid">
	<div class="media">
		<%= image_tag("intro.png", :alt => "Management interculturel", class:"img-responsive") %>
		</div>
	</div>
</div>

<div class="container-fluid", id="expertise">
	<div class="media">
		<%= image_tag("expertise.png", :alt => "Domaines d'expertise d'Au Contraire! Consulting", class:"img-responsive") %>
		</div>
	</div>
</div>

<div class="container-fluid", id="references">
	<div class="media">
		<%= image_tag("references.png", :alt => "Chinoise à chapeau rouge", class:"img-responsive") %>
		</div>
	</div>
</div>

<div class="container-fluid", id="qui sommes-nous">
	<div class="media">
		<%= image_tag("qui.png", :alt => "Eléonore Mandel", class:"img-responsive") %>
		</div>
	</div>
</div>

<div class="panel panel-default">
  <div class="panel-body">
    <div class="container">
      <div class="row spacer">

        <div class="col-lg-4 col-sm-6 col-md-4 col-xs-9">Téléphone</div>
        <div class="col-lg-4 col-sm-6 col-md-4 col-xs-9">Adresse</div>
        <div class="col-lg-4 col-sm-6 col-md-4 col-xs-9">Mail</div>

      </div>
    </div>
  </div>
</div>

