<div class="container-fluid">
	<div class="media">
		<%= image_tag("intro.png", :alt => "Management interculturel", class:"img-responsive") %>
		</div>
	</div>
</div>

<div class="container-fluid">
	<div class="media">
		<%= image_tag("expertise.png", :alt => "Management interculturel", class:"img-responsive") %>
		</div>
	</div>
</div>