<div class="container-fluid">
	<div class="media">
		<%= image_tag("intro.png", :alt => "Management interculturel", class:"img-responsive") %>
		</div>
	</div>
</div>

<div class="container-fluid", id="expertise">
	<div class="media">
		<%= image_tag("expertise.png", :alt => "Domaines d'expertise d'Au Contraire! Consulting", class:"img-responsive") %>
		</div>
	</div>
</div>

<div class="container-fluid", id="references">
	<div class="media">
		<%= image_tag("references.png", :alt => "Chinoise à chapeau rouge", class:"img-responsive") %>
		</div>
	</div>
</div>

<div class="container-fluid", id="qui sommes-nous">
	<div class="media">
		<%= image_tag("qui.png", :alt => "Eléonore Mandel", class:"img-responsive") %>
		</div>
	</div>
</div>


    <div class="container" id="contact">
      <div class="row spacer">

        <div class="col-lg-4 col-sm-6 col-md-4 col-xs-9"><span class="glyphicon glyphicon-envelope"></span> Mail<br><br>
        <a href="mailto:em@aucontraireconsulting.com">em@aucontraireconsulting.com</a>
    </div>
        <div class="col-lg-4 col-sm-6 col-md-4 col-xs-9"><span class="glyphicon glyphicon-phone"></span> Téléphone<br><br>
        +33 6 09 15 45 04</div>
        <div class="col-lg-4 col-sm-6 col-md-4 col-xs-9"><span class="glyphicon glyphicon-map-marker"></span> Adresse<br>
        	<p>13 Rue Claude-Nicolas Ledoux<br>14970 Bénouville</p></div>
      </div>

    </div>


