<div class="container-fluid">
	<div class="media">
		<%= image_tag("intro.png", :alt => "Management interculturel", class:"img-responsive") %>
		</div>
	</div>
</div>

<div class="container-fluid", id="expertise">
	<div class="media">
		<%= image_tag("expertise.png", :alt => "Domaines d'expertise d'Au Contraire! Consulting", class:"img-responsive") %>
		</div>
	</div>
</div>

<div class="container-fluid", id="references">
	<div class="media">
		<%= image_tag("references.png", :alt => "Chinoise à chapeau rouge", class:"img-responsive") %>
		</div>
	</div>
</div>