@import 'bootstrap';

@import url(http://fonts.googleapis.com/css?family=Open+Sans);

.navbar { 

  background-color: #ffffff;
  height: 110px;
  border: none;

}

.navbar-default .navbar-brand {
  color: #0C3D60;
  }

.navbar-brand { 

  font-size: 40px;
  padding: 10px;
  padding-left: 30px;


}

.navbar-right { 

  font-size: 20px;
  padding: 25px;
  padding-right: 50px;


}

.navbar-default .navbar-nav > li > a {
  color: #0C3C60;
}

.container { 

  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
}

.container-fluid { 

  line-height: 0%;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  padding-left: 0px;
  padding-right: 0px;
  margin-right: 0;
  margin-left: 0;
}


.media { 

  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
}