@import 'bootstrap';


.container { 

  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
}

.container-fluid { 

  line-height: 0%;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  padding-left: 0px;
  padding-right: 0px;
  margin-right: 0;
  margin-left: 0;
}


.media { 

  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
}