@import 'bootstrap';

@import url(http://fonts.googleapis.com/css?family=Open+Sans);


.navbar { 

  background-color: #ffffff;
  height: px;
  border: none;

}

.xs-navbar { 

  background-color: #ffffff;
  height: 40px;
  border: none;

}

.navbar-default .navbar-brand {
  color: #0C3D60;
  }

.navbar-brand { 

  font-size: 40px;
  padding: 10px;
  padding-left: 30px;


}

.navbar-right { 

  font-size: 20px;
  padding: 5px;
  padding-right: 50px;

}

.navbar-default .navbar-nav > li > a {
  color: #0B385E;
  line-height: 45px;
}

.container { 

  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
}

.container-fluid { 

  line-height: 0%;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  padding-left: 0px;
  padding-right: 0px;
  margin-right: 0;
  margin-left: 0;
}


.media { 

  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
}

.row { 

  padding: 35px;
  padding-left: 50px;
  text-align: center;
  font-family: "Open Sans";
  font-size: 2.2vh;
  color: #0C3C60;
  line-height: 4.0vh;

}

